.llama
.venv
env
.env

# data files
# data/
# output/
.DS_Store
old_ui
output.mp3
tests.ipynb
IMG_5898 (2).JPG
main_app/backend/__pycache__/main.cpython-39.pyc
main_app/backend/__pycache__/main.cpython-39.pyc
main_app/backend/__pycache__/main.cpython-39.pyc
